body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.flexabel{
    display: flex;
}
h1{
    font-size: 50px;
    color: #555;
}
h3{
    font-size: 20px;
    color: #999;
    font-weight: 300;
    width: 70%;
    margin-bottom: 60px;
}
.div-width{
    width: 50%;
}
.top-section{
    margin-top: 150px;
}
.top-left{
    margin-left: 10%;
    margin-top: 50px;
}
.top-right img{
    width: 80%;
    margin-left: -10px;
}
.orenge-color{
    color: orange;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(to left, rgb(222, 52, 9), rgb(255, 119, 0));
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;

}
.about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: x;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 30px 0px 0px 0px;
}
.about-left img{
    width: 50%;
    margin-left: 40%;
}
.about-content{
    margin-left: 30%;
    margin-right: 20%;
}
.about-content p{
    margin-bottom: 70px;
    margin-top: 40px;
    color: #777;
}
.about-content h2{
    margin-top: 100px;
    font-size: 35px;
    color: #555;
}
.recipise-left img{
    width: 80%;
}
.recipise-left{
    margin-left: 10%;
    margin-right: 1%;
}
.recipise-right img{
    width: 80%;
}
.recipise-right{
    margin-left: 1%;
}
.recipies-section {
    text-align: center;
    margin-bottom: 150px;
}
.recipies-section h2{
    font-size: 30px;
    color: #666;
}
.recipies-section p{
    margin-left: 30%;
    margin-right: 30%;
}
.recipise-left {
    box-shadow: 2px 2px 50px -20px rgba(0, 0, 0, 0.589);
    border-radius: 15px;
    padding: 50px 0px;
}
.recipise-right {
    box-shadow: 2px 2px 50px -20px rgba(0, 0, 0, 0.589);
    margin-right: 10%;
    border-radius: 15px;
    padding: 50px 0px;
}
.recipise-left p{
    margin-left: 10%;
    margin-right: 0;
    text-align: left;
    width: 80%;
}
.recipise-left h4{
    margin-left: 10%;
    margin-right: 0;
    text-align: left;
}
.recipise-right p{
    margin-left: 10%;
    margin-right: 0;
    text-align: left;
}
.recipise-right h4{
    margin-left: 10%;
    margin-right: 0;
    text-align: left;
    font-weight: bold;
}
.footer-top {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 40px -20px black;
    margin-bottom: 50px;
    border-radius: 15px;
    padding-bottom:20px;
}
.top-left{
    width: 50%;
    text-align: left;
}
.top-maddle {
    width: 50%;
    margin-top: 50px;
    margin-left: 10%;
}
.top-right{
    width: 50%;
    margin-top: 50px;
    text-align: center;
}